<section id="contact" class="contact">
	<div class="container" data-aos="fade-up">

	<div class=" section-title">
			<h2>Contact</h2>
			<p>Contact Us</p>
		</div>

		<div class="row">

			<div class="col-lg-6">

				<div class="row">
					<div class="col-md-12">
						<div class="info-box">
							<i class="bx bx-map"></i>
							<h3>Our Address</h3>
							<p><%= common.company.address.street %>, 
								<%= common.company.address.zipCode %> <%= common.company.address.city%>, <%= common.company.address.country %></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="info-box mt-4">
							<i class="bx bx-envelope"></i>
							<h3>Email Us</h3>
							<% common.company.email.forEach((email) => { %>
								<p><strong><%= email.displayName %>:</strong> <%= email.email %></p>
							<% }) %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="info-box mt-4">
							<i class="bx bx-phone-call"></i>
							<h3>Call Us</h3>
							<% common.company.phone.forEach((phone) => { %>
								<p><strong><%= phone.displayName%>:</strong> +<%= phone.countryCode%> <%= phone.number %></p>
							<% }) %>
						</div>
					</div>
				</div>

			</div>

			<div class="col-lg-6 mt-4 mt-lg-0">
				<%- include('./contact-form') %>
			</div>

		</div>

	</div>
</section>