<footer id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h3><%= company.legalName %></h3>
						<p>
							<%= company.address.street %><br>
							<%= company.address.zipCode %> <%= company.address.city%>, <%= company.address.country %>
							<br><br>
							<strong>Phone:</strong> (+<%= company.phone[0].countryCode%>) <%= company.phone[0].number %><br>
							<strong>Email:</strong> <%= company.email[0].email %><br>
						</p>
						<div class="social-links mt-3">
							<% company.social.forEach((account) => { %>
								<a href="<%= account.href %>" class="<%= account.class %>"><i class="<%= account.logoClass %>"></i></a>
							<% }) %>
						</div>
					</div>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h4><%= usefullLinks.title %></h4>
					<ul>
						
						<% usefullLinks.items.forEach((item) => {%>
							<li><i class="bx bx-chevron-right"></i> <a href="<%= item.href%>"><%= item.title %></a></li>						
						<% }) %>

					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4><%= ourServices.title %></h4>
					<ul>
						<% ourServices.items.forEach((item) => { %>
							<li><i class="bx bx-chevron-right"></i> <a href="<%= item.href %>"><%= item.title %></a></li>	
						<% }) %>
					</ul>
				</div>

				<div class="col-lg-4 col-md-6 footer-newsletter">
					<h4><%= newsletter.title %></h4>
					<p><%= newsletter.paragraph %></p>
					<form action="" method="post">
						<input type="email" name="email"><input type="submit" value="<%= newsletter.subscribe %>">
					</form>

				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="copyright">
			&copy; Copyright <strong><span><%= company.legalName %></span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			Designed by <a href="<%= company.href %>"><%= company.businessName %></a>
		</div>
	</div>
</footer>

