<div class="row">
	<h2><%= publication.title %></h2>
	<p><strong><%= publication.subTitle %></strong></p>
	<div>
		<img src="<%= publication.images.head.src %>" alt="<%= publication.images.head.alt %>"  class="img-fluid" />
		<p><strong>Image text:</strong> <%= publication.images.head.paragraph %></p>
	</div>
</div>