<section id="testimonials" class="testimonials">
	<div class="container" data-aos="zoom-in">

		<div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
			<div class="swiper-wrapper">

				<% about.testimonials.forEach((item) => { %>
					<div class="swiper-slide">
						<div class="testimonial-item">
							<img src="<%= item.image.src %>" class="testimonial-img" alt="<%= item.image.alt %>">
							<h3><%= item.name %></h3>
							<h4><%= item.title %></h4>
							<p>
								<i class="bx bxs-quote-alt-left quote-icon-left"></i>
								<%= item.paragraph %>
								<i class="bx bxs-quote-alt-right quote-icon-right"></i>
							</p>
						</div>
					</div>				
				<% }) %>

			</div>
			<div class="swiper-pagination"></div>
		</div>

	</div>
</section>