<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

  <!-- ======= Header ======= -->
  <%- include('./partials/header') %>
    <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <%- include('./partials/hero-section') %>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <%#- include('./partials/about-section') %>
    <!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <%- include('./partials/features-section') %>
    <!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <%- include('./partials/service-section') %>
    <!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    <%#- include('./partials/clients-section') %>
    <!-- End Clients Section -->


    <!-- ======= Testimonials Section ======= -->
    <%#- include('./partials/testimonials-section') %>
    <!-- End Testimonials Section -->

    
    <!-- ======= About Section ======= -->
    <%- include('./partials/about-section') %>
    <!-- End About Section -->


    <!-- ======= About Boxes Section ======= -->
    <%- include('./partials/about-boxes') %>
    <!-- End About Boxes Section -->

    <!-- ======= Portfolio Section ======= -->
    <%#- include('./partials/portfolio-section') %>
    <!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <%- include('./partials/team-section') %>
    <!-- End Team Section -->


  </main>

  <!-- End #main -->

  <!-- ======= Contact Section ======= -->
  <%- include('./partials/contact-section') %>
  <!-- End Contact Section -->


  <!-- ======= Footer ======= -->
  <%- include('./partials/footer') %>
  <!-- End Footer -->

  <%- include('./partials/foot') %>

</body>

</html>