<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

	<!-- ======= Header ======= -->
	<%- include('../partials/header') %>
	<!-- End Header -->

	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<%- include('../partials/breadcrumbs') %>
		<!-- End Breadcrumbs -->

	    <!-- ======= About Section ======= -->
	    <%- include('../partials/about-section') %>
	    <!-- End About Section -->

	    <!-- ======= About Boxes Section ======= -->
	    <%- include('../partials/about-boxes') %>
	    <!-- End About Boxes Section -->

	    <!-- ======= Team Section ======= -->
	    <%- include('../partials/team-section') %>
	    <!-- End Team Section -->


	</main><!-- End #main -->

	<!-- ======= Contact Section ======= -->
	<%- include('../partials/contact-section') %>
	<!-- End Contact Section -->

	<!-- ======= Footer ======= -->
	<%- include('../partials/footer') %>
	<!-- End Footer -->

	<%- include('../partials/foot') %>

</body>

</html>