<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>

	<!-- ======= Header ======= -->
	<%- include('../partials/header') %>
	<!-- End Header -->

	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		<%- include('../partials/breadcrumbs') %>
		<!-- End Breadcrumbs -->

	    <!-- ======= About Section ======= -->
	    <%- include('../partials/about-section') %>
	    <!-- End About Section -->

	    <!-- ======= About Boxes Section ======= -->
	    <%- include('../partials/about-boxes') %>
	    <!-- End About Boxes Section -->

		<section class="this-is-us">
		  <div class="container" data-aos="fade-up">
		  	<div class="row">
			  	<div class="col-lg-6 content">
			  		<%- marked(thisIsUs) %>	
			  	</div>

			  	<div class="col-lg-6 content">
				    <%- marked(ourStory) %>	
			  	</div>
		  	</div>
		  </div>
		</section>


	    <!-- ======= Team Section ======= -->
	    <%- include('../partials/team-section') %>
	    <!-- End Team Section -->


	</main><!-- End #main -->

	<!-- ======= Contact Section ======= -->
	<%- include('../partials/contact-section') %>
	<!-- End Contact Section -->

	<!-- ======= Footer ======= -->
	<%- include('../partials/footer') %>
	<!-- End Footer -->

	<%- include('../partials/foot') %>

</body>

</html>